NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyALJm812m471H04p3UwMTkv5AspRusYrDU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=boemo-joos-food-deals.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=boemo-joos-food-deals
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=boemo-joos-food-deals.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=241749710360
NEXT_PUBLIC_FIREBASE_APP_ID=1:241749710360:web:85f80d14b80113e6e0956d
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-DQQL6HBPPK
